
.section1{
    background-color: #ffee93;
}

.section2{
    background-color: #fcf5c7;
    height:300px ;
   
}
.section3{
    background-color: #f9e7e7;
}
.section4{
    background-color: #d2cbcb;
    height: 200px;
}
.section5{
    background-color: #ded6d6;
}
